*{
    margin: 0;
    padding: 0;
}
.wrap-container {
    margin: 0;
    padding: 26px 46px;
}
.hr-header hr {
    padding: 10px 0;
    width: 100%;
    color: #DDDDDD;
    border-style: solid none none none;
}
.wrap-image img {
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
    width: 100%; 
    max-height: 350px; 
    object-fit: cover;
}
.wrap-title {
    padding: 16px 0;
}
.wrap-title .icon-title {
    height: 80px; 
    max-width: 45px; 
    background-color: #ed2665;
    flex: 1;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}
.wrap-title .icon-title strong {
    font-size: 20px;
}
.wrap-title .icon-title span {
    align-items: center;
    font-size: 10px;
}
.wrap-title .icon-title code {
    color: white;
    font-size: 10px;
}
.wrap-title .text-title {
    position: relative; 
    top: -10px; 
    right: 0; 
    left: 0;
    bottom: 0;
}
.wrap-title .text-title h2 {
    position: absolute; 
    top: -65px; 
    right: 0; 
    left: 60px;
    font-weight: bold;
    font-size: 25px;
}
.wrap-title .text-title code {
    position: absolute;
    top: -33px; 
    right: 0; 
    left: 60px;
    font-style: italic;
}
.start-content {
    text-align: start;
    font-size: small;
}

.title-blog-detail h2{
    margin: 50px auto;
    text-align: center;
    max-width: 600px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.title-blog-detail h2::before {
    content: "";
    width: 395px;
    height: 1px;
    background-color: #ed2665;
    position: absolute;
    right: 50%;
    top: 50%;
    z-index: -1;
}
.title-blog-detail h2::after {
    content: "";
    width: 395px;
    height: 1px;
    background-color: #ed2665;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
}
.title-blog-detail span {
    padding: 16px 26px;
    border-style: solid;
    border-width: thin;
    color: #ed2665;
    background-color: white;
    z-index: 1;
    font-size: 20px;
}
.tile-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-style: oblique;
}
.tile-content strong {
    color: #ed2665;
}
.hr-content {
    padding: 5px 0;
    color: #CCCCCC;
    border-style: dashed none none none;
}
.image-content img {
    padding: 16px 0;
    width: 100%; 
    max-height: 420px; 
    object-fit: cover;
}

.wrap-content p {
    font-size: 16px;
}
.wrap-content ul li {
    margin-bottom: 16px;
    font-size: 16px;
}
.wrap-content ul li strong {
    font-style: italic;
    text-decoration: underline;
    font-size: 18px;
}
.wrap-content .item-images {
    border: none;
}
.wrap-content .item-images img {
    width: 280px;
    max-height: 180px;
    object-fit: cover;
}
.wrap-quote {
    background-color: #ededed;
}
.wrap-quote .quote {
    padding: 6px 16px;
    
}
.wrap-quote .quote i {
        margin-left: 16px;
}
.wrap-quote .quote code {
    text-align: center;
    margin-left: 6px;
}
.wrap-quote .hr-quote {
    padding: 0.5px 0;
    color: #ed2665;
    font-size: 6px;
    border-style: solid none none none;
    background-color: #ed2665;
}
.wrap-card-content{
    padding: 5px 0 20px 0;
}
.wrap-cards .card-items .card-img-top {
    height: 15em;
    background-size: cover;
    object-fit: cover;
}
.interactive {
    margin-left: 26px;
}
.interactive h2{
    margin: 36px auto;
    text-align: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.interactive h2::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: #ed2665;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
}
.interactive h2::after {
    content: "";
    width: 60px;
    height: 1px;
    background-color: #ed2665;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
}
.wrap-avatar-square {
    padding: 16px 16px;
}
.wrap-avatar-square .child{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    position: absolute;
    top: 130px;
    left: 50px;
    right: 0;
}
.wrap-avatar-square .child code {
    padding: 6px 6px;
}
.wrap-avatar-square .child button {
    border: none;
    background-color: red;
    margin-left: -42px;
}
.wrap-avatar-square .child button i {
    display: flex;
    height: 22px;
    align-items: center;
    color: white;
    padding: 4px;
}
.wrap-avatar-square .avatar-square {
    vertical-align: middle;
    width: 66px;
    height: 66px;
    margin-left: 36px;
}
.followers {
    position: relative;
    top: -22px;
    right: 0;
    left: 42px;
    height: 22px;
    color: #888888;
    border-style:  solid solid solid none;
    border-width: thin;
    background-color: #DDDDDD;
   
}
.followers a {
    flex: 1;
    margin-top: 1px;
    padding: 6px;
    font-weight: bold;
    color: #333333;
}
.followers a:hover {
    color: blue;
}
.wrap-avatar-cycler {
    padding: 16px 16px;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}
.wrap-avatar-cycler span {
    font-size: 16px;
    font-weight: none;
    text-align: center;
}
.wrap-avatar-cycler .avatar-cycler {
    vertical-align: middle;
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
.interactive-instagram {
    padding: 46px 0 ;
}
.interactive-instagram .wrap-cards {
    border: none;
    border-radius: none;
    z-index: 2;
}
.interactive-instagram .wrap-cards .card-items .card img {
    width: 192px; 
    height: 181px;
    margin-top: -42px;
    margin-bottom: 50px;
}
.interactive-instagram .wrap-cards .button-instagram {
    margin-top: -26px;
    z-index: 9999;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-comment {
    padding: 20px 0;
}
.wrap-comment small {
    position: relative;
    top: -12px;
    right: 0;
    left: 5px;
}
.wrap-comment .wrap-avatar-comment .avatar-comment {
    vertical-align: middle;
    width: 66px;
    height: 66px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: #99FFFF;
}
.wrap-comment .arrow_box {
    position: relative;
    height: 100px;
    padding: 20px 10px;
    background-color: #99FFFF;
    margin-bottom: 20px;
}
.wrap-comment .arrow_box span {
    position: relative;
    top: 50px;
    right: 0;
    left: 60px;
}
.wrap-comment .arrow_box a {
    color: black;
}
.wrap-comment .arrow_box a:hover {
    color: #ed2665;
}
.wrap-comment .arrow_box:before {
	bottom: 100%;
	left: 4%;
	border: 1px solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.wrap-comment .arrow_box:before {
	border-bottom-color: #99FFFF;
	border-width: 15px;
}