body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.separator {
    border-right: 1px solid #dfdfe0; 
}
.icon-btn-save {
    padding-top: 0;
    padding-bottom: 0;
}
.input-group {
    margin-bottom:10px; 
}
.btn-save-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0,0,0,0.15);
    border-radius: 3px 0 0 3px;
}
.wrap-change{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.long-img{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pass_show{
    position: relative
} 

.pass_show .ptxt { 
    position: absolute; 
    top: 50%; 
    right: 10px; 
    z-index: 9999; 
    color: #f36c01; 
    margin-top: -10px; 
    cursor: pointer; 
    transition: .3s ease all; 
} 

.pass_show .ptxt:hover{
    color: #333333;
} 